{%extends "registration/base.html"%}
{% load bootstrap4 %}
{% block content %}
 


  <div class="background">
      <div class="shape"></div>
      <div class="shape"></div>
  </div>
  

  <form   style="height: auto;" action="/accounts/login/" method="post">
    <div class =" ml-5 pl-5 pb-3  logo pt-3">
      <img  class = "ml-3" src="https://img.icons8.com/ios-filled/50/ffffff/homeadvisor.png"/>
      <p>Neighbourhood</p>
    </div>
        
    <h3>Login Here</h3>
      {% if form.errors %}
        <p> Password or Username is incorrect </p>
      {% endif %}
        {% csrf_token %}
        {% bootstrap_form form%}

        <div class="form-group">
          <input  class="btn btn-primary btn-xs" type="submit" class="btn btn-primary btn-sm m-auto" value="Login">
        </div>

        <input type="hidden" name="next" value="{{next}}">
      <div class="social">
        <p>Don't have an account? <a href='/accounts/register/'>Sign Up</a></p>
      </div>
  </form>
</body>
</html>


{% endblock %}