{% extends 'registration/base.html' %}
{% block content  %}

<div class="container">
<div class="card" style="width: 70rem; height: 20rem; margin-top: 70px;">
    <div class="card-body" style="text-align: center; margin:100px;">

        <h1><strong>LOG OUT</strong> </h1>
<p style="font-size: medium; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
">You have successfuly logged out of Neighbourhood . Thank you for visiting by today .</p>
<a href='/accounts/login/'> <strong>LOGIN AGAIN</strong></a>
</div>
</div>
</div>
{% endblock %}