{% extends 'neighbour/base.html' %}
{% load bootstrap4 %}
{% block content %}


 
    {% if user.profile.neighbourhood.neighbourhood_name %}
      <h2 class="text-center pl-5 ml-5 mt-3"> Welcome to your neighbourhood <strong>{{user.profile.neighbourhood.neighbourhood_name}}</strong> </h2><br>
     <div class="d-flex justify-content-center">
      <button class="btn btn-dark"><a  style="color: white; display: block; "href="{% url 'post'%}">Post in my neighbourhood ?</a></button>
     </div>

 <div class="row p-0">
  <div class="col-md-3">
      {% if myneighbours %}
      <div class="mt-5  neighbours">
        <h2 class="text-center">List of people in {{user.profile.neighbourhood.neighbourhood_name}} </h2>
       {% for neighbour in myneighbours %}

       <div class="card mt-5" style="height: auto;border: black;">
        <div class="d-flex justify-content-between p-2 px-3">
        
            <div class="d-flex flex-row align-items-center"> <img src="{{neighbour.photo.url}}" width="50" class="rounded-circle">
          
                <div class="d-flex flex-column ml-2"> <span class="font-weight-bold">{{neighbour.name}}</span> <small class="text-primary">{{neighbour.bio}}</small> </div>
                <br>
              
            </div>
        </div> 
      </div>
    
    {% endfor %}
    {% else %}
    
    <h4 class=" fixed text-center mt-5 pt-5"><em>There aren't any neighbours in your neighbourhood registered on the application. Refer friends and neighbours to interact with them on this platform.</em></h4>
    {% endif %}
  </div>
</div>
 
     <div class="col-md-6">
             {% if posts %}
              {% for post in posts %}
                <div class="card mt-5" style="height: auto; width: 40rem ;border: black;">
                    <div class="d-flex justify-content-between p-2 px-3">
                    
                        <div class="d-flex flex-row align-items-center"> <img src="{{post.profile.photo.url}}" width="50" class="rounded-circle">
                      
                            <div class="d-flex flex-column ml-2"> <span class="font-weight-bold"> {{post.profile}}</span> <small class="text-primary">{{post.created_at}}</small> </div>
                        </div>
                    </div> 
                    <img src="{{post.image.url}}" height="400px">
                    <div class="p-2">
                        <h4 class="text-center">{{post.title}}</h4>
                        <p class="text-justify">{{post.content}}</p>
                      
                    </div>
                </div>
              
              {% endfor %}
            {% endif  %}
  
     </div>
     <div class="col-md-3">
          
       <div class="business">
        {% if businesses %}
        <h2 class="mt-5 mb-3">Businesses in {{user.profile.neighbourhood.neighbourhood_name}}</h2>
        {% for business in businesses %}
          <div class="card" style="border:none">
            <h4 class="text-center">{{business.business_name}}</h4>
            <p  class="text-center"> email : <span style="color: blue; text-decoration: underline;">{{business.business_email}}</span></p>
          </div>
         
        {% endfor %}
        {% else %}
        <h4 class="text-center mt-5 pt-5"><em>There aren't any businesses in your neighbourhood registered on the application. Feel free to add businesses to your neighbourhood <a href="{% url 'add-business'%}">Here</a></em></h4>

        {% endif %}
      
       </div>

     </div>
 </div>


</div>

{% endif %}
{% endblock %}